<h2>박진배(23)</h2>

<br>

<ul class="list-group">
  <li class="list-group-item">연세대 경영학과</li>
  <li class="list-group-item">멋사 7기 운영진</li>
  <li class="list-group-item">창업 경험</li>
  <li class="list-group-item">런던 인턴 경험</li>
</ul>

<br>

<p>성실하게 배우겠습니다.</p>