

<%@posts.each do |x| %>
    제목: <%=x.title%> <br>
    내용: <%=x.content%> <br>
    <a href="/home/destroy/<%=x.id%>">삭제</a>
    <a href="/home/edit/<%=x.id%>">수정</a> <br>
    <hr /> <br>

<%end%>    