<div class="jumbotron">
<h1 class="display-4">첫 화면입니다.</h1>
<br>
<p class="lead">포트폴리오 제출을 위한 간단한 프로젝트입니다.</p>
<hr class="my-4">


<a href="/home/new", class: 'btn btn-primary btn-lg', role: 'button'>crud 기능 확인</a>
</div>
