
<form action="/home/create">

    제목: <br> <input type='text' name="post_title"> <br> <br>
    내용: <br> <textarea id="orig" name="post_content" rows="5" cols="35"></textarea> <br>
    <input type='submit' value="Submit">
    
</form>